@import "../variables";

.Profile {

  &-Picture {
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
    max-width: 100px;
  }

  &-first {
    height: 125px;
    width: 40px;
    background-color: #16c79a;
  }
  &-second {
    height: 80px;
    width: 40px;
    background-color: #e6b566;
  }

  &-third {
    height: 50px;
    width: 40px;
    background-color: #e5707e;
  }

  &-PodiumResult {
    position: relative;
    top: -25px;
  }

  &-Table-Footer {
    max-height: 52px;
  }
}