.GameChart {
  width: 50vw;
  &-ParentGrid {
    // max-height: 100%;
    max-height: calc(100vh - 100px);
    margin-top: 35px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  &-Grid {
    min-height: calc(50vh - 68px);
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 75px;
  }
}

.GameTable {
  overflow-y: auto;

  &-Header {
    font-size: 14px;
  }
}

.MuiTableCell-root {
  padding: 0 !important;
}

#insideDiv {
  overflow-y: auto;
}
