$darkBody: #fff;
$darkText: #fff;
$darkToggleBorder: #000;
$darkBackground: #3E313C;
$darkInverted: #fff;
$darkBorderColor: #363537;
$darkEvenRowBackground: #cec5cd;
$darkOddRowBackground: #e0e0e0;
$darkHeaderBackgroundColor: #3E313C;
$darkHeaderBackgroundColorDarker: #30262e;
$darkSidePanelBackgroundColor: #cec5cd;
$darkHover: #ab9ba9;
$darkSelected: #3E313C;
$darkCalendarToday: #555459;
$darkHeaderFontColor: #555459;
$darkCalendarBackground: #cec5cd;
$darkSidePanelColor: #555459;
$darkTableColor: #555459;
$darkBackgroundLighter: #3d3e4c;

$lightBody: #262730;
$lightText: #fff;
$lightToggleBorder: #fff;
$lightBackground: #aa4465;
$lightInverted: #fff;
$lightBorderColor: #fff;
$lightEvenRowBackground: #262730;
$lightOddRowBackground: #31333e;
$lightHeaderBackgroundColor: #aa4465;
$lightHeaderBackgroundColorlighter: #83344d;
$lightSidePanelBackgroundColor: #262730;
$lightHover: #2f2f2f;
$lightSelected: #aa4465;
$lightCalendarToday: #f7ebe8;
$lightHeaderFontColor: #fff;
$lightCalendarBackground: #262730;
$lightSidePanelColor: #fff;
$lightTableColor: #fff;
$lightBackgroundLighter: #3d3e4c;
